<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Contact List</title>
</head>
<body>
    <div class='container'>
        <div class='well'>
            <h1>Contact List</h1>
        </div>
        <div class='row'>
            <div class='col-md-5'>
                <h2>Navigation</h2>
                <a href='/'>
                    <button class='btn'>Back to Home</button>
                </a>
                <a href='/create'>
                    <button class='btn'>Add Contacts</button>
                </a>
                <a href='/delete'>
                    <button class='btn'>Delete All Contacts</button>
                </a>
            </div>
            <div class='col-md-7'>
                <h2>Your Contacts:</h2>
                <ul>
                    {% if contacts is not empty %}
                        {% for contact in contacts %}
                        <li> {{contact.getContactName}} </li>
                        <ul>
                            <li> {{contact.getPhone}} </li>
                            <li> {{contact.getAddress}} </li>
                        </ul>
                        <form>
                            <button value='{{ loop.index0 }}' formaction="/delete_one" class='btn btn-danger' formmethod='post' name='index'>Delete</button>
                            <button value='{{ loop.index0 }}' formaction="/edit_one" class='btn btn-danger' formmethod='post' name='index'>Edit</button>
                        </form>
                        {% endfor %}
                    {% else %}
                        <h2>Contacts Empty!</h2>
                        <p>You don't have any contacts entered yet!  Use the form at the left to add some to the list.</p>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
